<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{css/index.css}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
/* input{ */
/* text-align: left; */
/* } */
/* form{ */
/* margin: 2% 33% 10% 33%; */
/* } */
</style>
</head>

<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Bienvenido</h2>

  <form th:action="@{/formulario}" th:object=${usuarios} method="POST" class="login-container">
    <p><input type="text" placeholder="Usuario" name="user"></p>
    <p><input type="password" placeholder="Password" name="password"></p>
    <p><input type="submit" value="Iniciar sesion"></p>
  </form>
</div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		           Usuario y password invalidos
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		           Se cerro la sesion
		        </div>
</body>
</html>